<launch>

	<!-- Participant ID -->
	<arg name="ID" default="0"/>

	<!-- Method type ('A'- impedance, 'B'- learning, 'C'- demonstration) -->
	<arg name="method_type" default="D"/>

	<!-- Record data mode -->
	<arg name="record" default="F"/>

	<!-- Replay data mode -->
	<arg name="replay" default="T"/>

	<!-- Feature learning method (ALL, MAX, BETA)-->
	<arg name="feat_method" default="ALL"/>

	<!-- List of string features that need correcting -->
	<arg name="feat_list" default="table"/>

	<!-- Location with trajectory cache -->
	<arg name="traj_cache" default="None"/>

	<!-- Location with ROSbag -->
	<arg name="rosbag_path" default="None"/>

	<!-- play rosbag that was previously recorded -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="$(arg rosbag_path)"/>

	<!-- velocity-based with trajopt planning PID -->
	<node name="pid_trajopt" pkg="beta_adaptive_pHRI" type="pid_trajopt.py"
	args="$(arg ID) $(arg method_type) $(arg record) $(arg replay)
	$(arg feat_method) $(arg feat_list) $(arg traj_cache)" output="screen"/>

</launch>
